<style>
    .room-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.room-details {
  flex: 1;
}

.room-image {
  width: 250px; 
  height: auto;
}
</style>


<div>
    <h1>Rooms</h1>
</div>

<div *ngFor="let room of getRooms()" class="room-container">
    <div class="room-details">
      <h3>Room {{ room.roomNo }}</h3>
      <p>Type: <b> {{ room.type }} </b> </p>
      <p>Price: {{ room.price | currency : 'INR' }}</p>
      <button (click)="bookRooms(room.roomNo)" >Book Now</button>
    </div>
    <img class="room-image" [src]="room.img" alt="{{ room.type }} Image">
  </div>