<style>
    .booking-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.booking-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-info {
    margin: 5px 0;
}

</style>

<h1>YOUR BOOKINGS</h1>

<div class="booking-container">
    <div *ngFor="let i of bookingDetails" class="booking-card">
        <p class="booking-info"><strong>Name:</strong> {{i.name}}</p>
        <p class="booking-info"><strong>Phone Number:</strong> {{i.phoneNumber}}</p>
        <p class="booking-info"><strong>Booked Room:</strong> {{i.roomNo}}</p>
        <p class="booking-info"><strong>From:</strong> {{i.startDate | date}}</p>
        <p class="booking-info"><strong>To:</strong> {{i.endDate | date}}</p>
        <p class="booking-info"><strong>Total Amount:</strong> {{i.totalPrice | currency : 'INR'}}</p>
    </div> <br><br>
</div>
